# SPDX-License-Identifier: GPL-2.0-only
#
# ACPI Configuration for ARM64
#

config KUNPENG_MPAM
	bool "Support Memory Partitioning and Monitoring"
	default n
	depends on ACPI
	select KUNPENG_RESCTRL
	select ACPI_MPAM if ACPI
	help
	  Memory Partitioning and Monitoring. More exactly Memory system
	  performance resource Partitioning and Monitoring