# SPDX-License-Identifier: GPL-2.0-only
#
# Confidential computing related collateral
#

config TSM_REPORTS
	select CONFIGFS_FS
	tristate "TSP report configfs ABI support"
	help
	  TSM report configfs ABI support

source "drivers/virt/coco/efi_secret/Kconfig"

source "drivers/virt/coco/csv-guest/Kconfig"

source "drivers/virt/coco/tdx-guest/Kconfig"
